<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".Utils.negociomx_posApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NegocioMX_POS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ConsultaPaso3Repuve_Activity"
            android:exported="false" />
        <activity
            android:name=".ConsultaPaso2_Activity"
            android:exported="false" />
        <activity
            android:name=".ConsultaPaso1Soc_Activity"
            android:exported="false" />
        <activity
            android:name=".Paso3Repuve_Activity"
            android:exported="false" />
        <activity

            android:name=".Paso2SOC_Activity"
            android:exported="false" />
        <activity
            android:name=".alta_vehiculo"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Paso1SOC_Activity"
            android:exported="false" />
        <activity
            android:name=".LectorQR_activity"
            android:exported="false" />
        <activity
            android:name=".sync_catalogos_activity"
            android:exported="false" />
        <activity
            android:name=".usuario_nuevo_activity"
            android:exported="false" />
        <activity
            android:name=".articulo_nube_activity"
            android:exported="false" />
        <activity
            android:name=".vpn_connect_activity"
            android:exported="false" />
        <activity
            android:name=".tipo_pago_nube_activity"
            android:exported="false" />
        <activity
            android:name=".configs_activity"
            android:exported="false" />
        <activity
            android:name=".usuarios_activity"
            android:exported="false" />
        <activity
            android:name=".acceso_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".empresa_nube_activity"
            android:exported="false" />
        <activity
            android:name=".sincronizacion_activity"
            android:exported="false" />
        <activity
            android:name=".tipopago_activity"
            android:exported="false" />
        <activity
            android:name=".foto_activity"
            android:exported="false" />
        <activity
            android:name=".menu_principal_activity"
            android:exported="false" />
        <activity
            android:name=".camara_activity"
            android:exported="false" />
        <activity
            android:name=".ventasa_activity"
            android:exported="false" />
        <activity
            android:name=".impuesto_activity"
            android:exported="false" />
        <activity
            android:name=".consulta_articulo_posa_activity"
            android:exported="false" />
        <activity
            android:name=".posa_activity"
            android:exported="false" />
        <activity
            android:name=".articulo_consulta_activity"
            android:exported="false" />
        <activity
            android:name=".cliente_activity"
            android:exported="false" />
        <activity
            android:name=".categoria_activity"
            android:exported="false" />
        <activity
            android:name=".unidadmedida_activity"
            android:exported="false" />
        <activity
            android:name=".articulo_alta_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>